h1{
  color: gray;
  height: 50px;
  font-family:fantasy;
  font-size: 60px;

}
p{
  text-align: center;
  font-size: 35px;
  font-family:cursive;
}
body{

  background-color:lightgray;
  color: black
}
ol{
  font-size: 20px;
}
ul{
  font-size: 20px;
  text-align:
  font-style: oblique;
  height: 30px;
}
